/* CONTACT SECTION STYLING */

body{
  width: 100%;
}

.contenedor{
    padding: 50px  0px;
    display: flex;
    justify-content: center;
}
  
section{
    border-radius: 5px;
    width: 70%;
}

#contact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    max-width: 500px;
    text-align: center;
  }
  
  #contact > div {
    padding-bottom: 4rem;
    flex: 1;
  }
  

  #contact span {
    font-family: "Satoshi 500";
    font-size: 1.6rem;
    color: rgba(126, 146, 217, 1);
  }
  
  h4 {
    margin: 1rem;
    font-family: "Satoshi 900";
    font-size: 3rem;
  }
  
  h4 + p {
    padding: 1rem 0 2rem;

  }
  
  
  #contact > aside {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
  }
  

.edit-box {
  font-size: 16px;
  font-family: "GeneralSans 700";  
  color: rgb(178, 185, 207);
  margin-bottom: 1.25rem;
}




  
.icon-editar{
  /* margin-left: .3125rem; */
  width: 1em;
  fill:#5C5F62;
  transition: fill 0.2s ease-in-out;
}

.editar-green path {
	fill: #d6d6d6;
	transition: fill 0.2s ease-in-out !important;
  }
  
.editar-green:hover path {
	fill: rgb(1, 255, 14) !important;
}


.hand-cursor {
	cursor: pointer;
} 